html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    font-family: Helvetica;
}
.contentblock{
    background-image: url(images/firts.jpg);
    height: 640px;
    width: 1280px;
    margin: 0 auto;
}
.menu ul{
    text-align: center;
    margin-top: 32px;
}
.menu ul li{
    text-decoration: none;
    font-family: Helvetica;
    display: inline-block;
    margin-right: 52px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.demo{
    height: 500px;
    width: 1280px;
}
.video{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 400px;

}

.benefits{
    height: 500px;
    width: 1280px;
    background-image: url(images/plashka.jpg);
    margin:0 auto;
}

.benefits img{
    width: 200px;
    height:349px;
    display: inline-block;
    margin: 75px 50px 75px 50px;
    text-align: center;

}






